{% extends 'modules/base.html' %}
{% load static %}

{% block page %}

    <div class="row" style="margin-top: 15px">
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h1 style="margin-bottom: 0px; font-weight: bold">{{ gig.title }}</h1>
                    <br>
                    {% if gig.rating_set.count == 0 %}
                        <i class="fa fa-star-o" aria-hidden="true"></i><b style="color: gold;"></b>
                        <small>(0)</small>
                    {% else %}
                        {% with ''|center:gig.rating as range %}
                            {% for _ in range %}
                                <i class="fa fa-star" aria-hidden="true" style="color: gold;"></i>
                            {% endfor %}
                        {% endwith %}
                        <small>(420)</small>
                    {% endif %}
                    <hr>
                    <img src="/media/{{ gig.photo }}" alt="" class="img-responsive center-block">
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 style="font-weight: bold">About This Gig:</h4>
                </div>
                <div class="panel-body">
                    <p>{{ gig.description }}</p>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 style="font-weight: bold">Reviews {% with ''|center:gig.rating as range %}
                                {% for _ in range %}
                                    <i class="fa fa-star" aria-hidden="true" style="color: gold;"></i>
                                {% endfor %}
                            {% endwith %} <b> {{ gig.rating }}.0 </b></h4>

                </div>
                <ul class="list-group">
                    {% if user.is_authenticated %}
                        {% ifnotequal gig.user user %}
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-md-12">
                                        <p>Be the first to review this gig!</p>
                                    </div>
                                </div>
                            </li>
                        {% else %}
                            {% for i in '123' %}
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <img src="{% static 'img/avatar.png' %}" alt=""
                                                 class="img-circle center-block"
                                                 height="60" width="60">
                                        </div>
                                        <div class="col-md-10">
                                            <h5>David T. Pain</h5>
                                            <p>Great job.</p>
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                        {% endifnotequal %}
                    {% else %}
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-12">
                                    <p>No review for this gig!</p>
                                </div>
                            </div>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    {% ifequal gig.user user %}<a href="{% url 'sixxer:gig-edit' gig.slug %}">
                        <button type="button" class="btn btn-primary btn-block">
                            Edit Gig
                        </button>
                    </a>
                    {% else %}

                        {% if user and not user.is_anonymous %}

                            <form action="/checkout/" method="post">
                                {% csrf_token %}
                                <div id="payment-form"></div>
                                <input name="gig_id" value="{{ gig.slug }}" hidden>
                                <button type="submit" class="btn btn-success btn-block" href="#">
                                    Order Now (${{ gig.price }})
                                </button>
                            </form>
                            <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
                            <script src="{% static 'js/braintree.js' %}"></script>
                            <script>
                                $(document).ready(function () {
                                    braintree.setup("{{ client_token }}", "dropin", {
                                        container: $("#payment-form"),
                                        paypal: {
                                            singleUse: true,
                                            amount: "{{ gig.price }}",
                                            currency: 'USD'
                                        }
                                    })
                                })
                            </script>

                        {% else %}
                            You need to login to purchase
                        {% endif %}


                    {% endifequal %}

                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body"><a href="{% url 'sixxer:my-profile' gig.user.username %}"><img
                        src="{% if gig.user.profile %} {{ gig.user.profile.avatar }} {% else %} {% static 'img/avatar.png' %} {% endif %}"
                        alt="" class="img-circle center-block" height="100" width="100"></a>
                    <h4 class="text-center"><a
                            href="{% url 'sixxer:my-profile' gig.user.username %}">{{ gig.user.username }}</a></h4>
                    <small><p class="text-center">{{ gig.user.profile.slogan }}</p></small>
                    <p class="text-center">
                        {% with ''|center:gig.rating as range %}
                            {% for _ in range %}
                                <i class="fa fa-star" aria-hidden="true" style="color: gold;"></i>
                            {% endfor %}
                        {% endwith %}
                        {% for rating in gig.rating_set.all %}
                            <i class="fa fa-star" aria-hidden="true" style="color: gold;"></i>
                        {% endfor %}
                        <b>{{ gig.rating }}.0 </b>
                        <small>(420)</small>
                    </p>

                    </span>
                    <button type="button" class="btn btn-success center-block" href="#">
                        Contact Me
                    </button>
                    <hr>
                    <p>{% if gig.user.profile.about %} {{ gig.user.profile.about }} {% else %}No description found for
                                                                                              this
                                                                                              seller!{% endif %}</p>
                    <hr>
                <h4 style="font-weight: bold">Skills</h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    <div class="row" style="margin-top: 15px; margin-left: -100px">
        <div class="col-lg-12">

            <h4 style="margin-bottom: 10px; font-weight: bold">Recommended gigs:</h4>

            {% for gig in recommends %}
                <div class="col-md-3">
                    <div class="thumbnail">
                        <a href="{% url 'sixxer:gig-detail' gig.slug %}"><img src="/media/{{ gig.photo }}"
                                                                            style="height:auto; width:100%;"></a>
                        <div class="caption">
                            <b><a href="{% url 'sixxer:gig-detail' gig.slug %}">{{ gig.title }}</a></b>
                            <b class="pull-right" style="color: darkgrey;"><p><i class="fa fa-heart"
                                                                                 aria-hidden="true"></i>
                            </p></b>
                            <br>
                            <br>
                            {% if gig.rating_set.count == 0 %}
                                <i class="fa fa-star-o" aria-hidden="true"></i><b style="color: gold;"></b>
                                <small>(0)</small>
                            {% else %}
                                {% with ''|center:gig.rating as range %}
                                {% for _ in range %}
                                    <i class="fa fa-star" aria-hidden="true" style="color: gold;"></i>
                                {% endfor %}
                            {% endwith %}
                                <small>(420)</small>
                            {% endif %}
                            <hr style="margin-bottom: 3px">
                            <div class="row">
                                <div class="col-md-1">
                                    <img
                                            src="{% if gig.user.profile %} {{ gig.user.profile.avatar }} {% else %} {% static 'img/avatar.png' %} {% endif %}"
                                            alt="" class="img-circle" height="40" width="40">
                                </div>
                                <div class="col-md-6 col-sm-offset-1">
                                    <a
                                            href="{% url 'sixxer:my-profile' gig.user.username %}">{{ gig.user.username }}</a>
                                    <br>
                                    <small>Level One Seller</small>
                                </div>
                                <div class="col-md-3">
                                    <b class="green pull-right"><p>${{ gig.price }}</p></b>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>
{% endblock %}