<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Sixxer App</title>
        <link rel="icon" type="image/ico" href="{% static 'img/favicon.ico' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap3.3.4.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/custom.css' %}">
        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    </head>
    <body>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="navbar-inverse">
                <div class="container">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="/"><img src="{% static 'img/sixxerr_logo.png' %}" alt="" height="25"></a>
                    </div>
                    <form action="." class="navbar-form navbar-left" method="get">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Find services" name="s">
                                <span class="input-group-btn">
                                <button class="btn btn-success">Find</button>
                            </span>
                            </div>
                        </div>
                    </form>
                    <ul class="nav navbar-nav navbar-right">
                        {% if user and not user.is_anonymous %}
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                   aria-haspopup="true"
                                   aria-expanded="false">
                                    <img src="{% if user.profile %} {{ user.profile.avatar }} {% else %} {% static 'img/avatar.png' %} {% endif %}"
                                         alt="" class="img-circle" height="22" width="22">
                                    {{ user.get_full_name|default:user.username }} <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    {#                                    <li><a href="{% url 'sixxer:my-profile' user.username %}">My Account</a></li>#}
                                    <li><a href="{% url 'sixxer:gig-create' %}">Create a Gig</a></li>
                                    <li><a href="{% url 'sixxer:my-gigs' %}">My Gigs</a></li>
                                    <li><a href="{% url 'sixxer:my-buyings' %}">My Buyings</a></li>
                                    <li><a href="{% url 'sixxer:my-sellings' %}">My Sellings</a></li>
                                    <li role="presentation" class="divider"></li>
                                    <li><a href="{% url 'sixxer:my-profile' user.username %}">My Profile</a></li>
                                    <li><a href="{% url 'logout' %}?next={{ request.path }}">Logout</a></li>
                                </ul>
                            </li>
                        {% else %}
                            <li>
                                <a href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}">Login with
                                                                                                      <i class="fa fa-facebook-square" style="color: cornflowerblue;"></i></a>
                            </li>
                            <li>
{#                                <a href="{% url 'login' %}?next={{ request.path }}">Login</a>#}
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            <div id="category">
                <div class="container">
                    <ul class="nav navbar-nav">
                        <li><a href="/?c=graphics-design">Graphics & Design</a></li>
                        <li><a href="/?c=digital-marketing">Digital Marketing</a></li>
                        <li><a href="/?c=video-animation">Video & Animation</a></li>
                        <li><a href="/?c=web-development">Web Development</a></li>
                        <li><a href="/?c=programming-tech">Programming & Tech</a></li>
                        <li><a href="#">Business</a></li>
                        <li><a href="#">Fun & Lifestyle</a></li>
                        <li><a href="#">Article Writing</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <div id="body">
            <div class="container" style="height: auto;">
                {% block page %}

                {% endblock %}
            </div>
        </div>

        <footer id="footer">
            <div class="container">
                {% block footer %}

                {% endblock %}
                <span>Sixxer App &copy; 2018 - Developed by <a href="http://www.facebook.com/tarekbinhedayat">Cyan Tarek</a></span>
            </div>
        </footer>
        <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
        <script src="{% static 'js/bootstrap3.3.4.min.js' %}"></script>
    </body>
</html>